
#comments-forums
{
	@include wrap;
	@include ai-forms;
	
	h2,
	h3
	{
		@include scale(2);
		@include trailer;
		@extend %font-heading;
		text-align: center;
	}
	
	.comments-old
	{
		@extend %ccw-article;
	}
	
	.comments-new
	{
		a
		{
			@extend a%ai-article;
		}
		
		p
		{
			@include trailer;
		}
	}
	
	.comment
	{
		@include wrap;
		
		&-header
		{
			background: color(dbg);
			padding: 0 0.25rem;
			font-size: scale();
			@extend %font-heading;
			@extend %cf;
			
			> .left,
			> .right
			{
				
				a
				{
					display: block;
					padding: 0.5em 0.2em;
					color: color(dh);
					transition-property: background, color;
					transition-duration: 0.1s, 0.1s;
					transition-timing-function: ease, ease;
					
					&:hover
					{
						background-color: color(dh);
						color: color(dbg);
					}
				}
			}
			
			> .left
			{
				float: left;
				@include box($cc: "> .c");
			}
			
			> .right
			{
				float: right;
				@include box(right, $cc: "> .c");
			}
			
			.date
			{
				padding: 0.5em 0.2em;
			}
			
		}
		
		&-body
		{
			@include wrap;
			
			a
			{
				@extend a%ai-article;
			}
		}
		
		&-replies
		{
			padding-left: 3.5%;
			margin-left: 1.5%;
			border-left: 1px solid color(lac);
		}
		
	}
	
}
