

#crumbs-forums
{
	@extend %ccw-article;
	padding: 0.45rem 0.25rem;
	color: color(lfg);
	@include scale(-1);
	
	.crumb
	{
		display: inline-block;
		
		a,
		span
		{
			padding: 0.25rem;
		}
		
		&:after
		{
			content: " / ";
		}
		
		&:last-of-type:after
		{
			content: "";
		}
	}
	
	a
	{
		color: color(lh);
		transition-property: color, background;
		transition-duration: 0.1s, 0.1s;
		transition-timing-function: ease, ease;
		
		&:hover
		{
			background: color(chrbg);
			color: color(dfg);
		}
	}
	
}

#main-forums
{
	min-height: 90vh;
	background: color(lbg);
	@extend %ai-article;
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6
	{
		color: color(lh);
	}
	
}

.forums-subheader
{
	@include scale(2);
	@include trailer;
	text-align: center;
	@extend %font-heading;
}

#forums-header
{
	@extend %ccw-article;
	
	h1
	{
		@extend %ccw-article;
		@extend %font-title;
		@include scale(5);
		@include wrap;
		text-align: center;
	}
	
	p
	{
		@include trailer;
	}
	
}

#article
{
	@include ai-article($cc: ccw-article);
}

.no-posts
{
	@include scale(1);
	@extend %font-lead;
	text-align: center;
	color: color(lac);
}

.forum,
.forum_thread
{
	@extend %ccw-article;
	transition: background 0.4s ease;
	
	> .c
	{
		display: block;
		padding-left: 1rem;
		padding-right: 1rem;
		@include wrap;
	}
	
	a
	{
		color: color(lfg);
	}
	
	&-name
	{
		@extend %font-heading;
		@include scale(1);
	}
	
	&-meta
	{
		@include scale(-1);
		color: color(lh);
	}
	
	&-excerpt
	{
		@include leader;
		color: color(la);
	}
	
	&:hover
	{
		background: darken(color(lbg), 10%);
	}
	
}


.threads-pagination
{
	@extend %cc-article;
	@include wrap;
	@include box(center, $cc:"> .c", $items: "&-li");
	
	&-current,
	&-empty,
	a
	{
		display: inline-block;
		padding: 0.5rem 1rem;
		color: color(lfg);
	}
	
	&-current
	{
		background: darken(color(lbg), 10%);
	}
	
	&-empty
	{
		color: transparent;
	}
	
	a
	{
		transition: background 0.4s ease;
		
		&:hover
		{
			background: darken(color(lbg), 10%);
		}
	}
	
}
