

.single-format-standard #article,
.page-template-default #article
{
	@extend %bg-lbg;
	
	.article.c
	{
		@include ai-article(".article", $adjust-first: 0.42rem);
	}
}

.single-format-aside #article,
.page-template-photobg-page-php #article
{
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	
	> .c
	{
		min-height: 100vh;
		@extend %bg-chrbg;
	}
	
	.article.c
	{
		padding: 5rem 0;
		@include ai-article(".article",
												$color: dfg,
												$color-heading: dh);
		
	}
}

#article-footer
{
	@extend %ai-article;
	@extend %bg-lbg;
	
	hr.end
	{
		@extend %ccs-article;
		height: rem(1px);
		border: 0;
		@extend %bg-la;
	}
	
	.profile
	{
		@include ai-profile;
	}
	
	.categories
	{
		@extend %ccw-article;
		@include wrap;
		@extend %font-lead;
		text-align: center;
		
		@include with-layout(2 (0))
		{
			@include container($config-cc-article);
			
			.col
			{
				@include span(1);
			}
		}
		
		h6
		{
			@include scale(4);
		}
		
		a
		{
			@extend a%ai-article;
			border: 0 !important;
		}
			
	}
	
}
