#footer
{
	@include wrap;
	@extend %bg-chrbg;
	@extend %color-chrfg;
	
	.col
	{
		display: none;
		
		@include above(rock)
		{
			display: initial;
		}
		
		@include span(2);
		@extend %ai-article;
		@extend %font-lead;
		
		h6
		{
			@include trailer;
			@include scale;
			@extend %font-heading;
			@extend %color-chrh;
		}
		
		&:last-of-type
		{
			display: initial;
			@include span(12 first last);
			
			@include above(rock)
			{
				@include span(4 last);
			}
			
			h6
			{
				@include scale(1);
			}
			
		}
	}
}

#copyright
{
	@include wrap;
	@include scale(-1);
	text-align:center;
	@extend %font-lead;
	@extend %bg-chrbg;
	@extend %color-chrh;
}
