
#header
{
	@include ai-navbar(".header");
	
	.number a
	{
		@extend %bg-chribg;
		@extend %color-chrifg;
	}
	
	@include below(disco)
	{
		.number
		{
			margin-left: auto;
		}
	}
	
	// @include below(rock)
	// {
	// 	.name
	// 	{
	// 		display: none;
	// 	}
	// }
	
}

#nav-offcanvas-left,
#nav-offcanvas-right
{
	position: fixed;
	top: 0;
	width: rem(300px);
	max-width: 100%;
	height: 100%;
	@extend %bg-dbg;
	
	> .c
	{
		position: sticky;
		top: 0;
		width: 100%;
	}
}

@each $side in left, right
{
	#nav-offcanvas-#{$side}
	{
		#{$side}: rem(-300px);
		text-align: $side;
	}
	
	#www.offcanvas-#{$side}
	{
		transform: translateX(rem(300px * if($side == left, 1, -1)));
	}
	
}

@include above(disco)
{
	.nav-mobile-toggle
	{
		display: none;
	}
}
