a%ai-article
{
	border-bottom: 1px solid;
	border-color: color(lfg);
	color: color(lfg);
	transition-property: border-color, color;
	transition-duration: 0.5s, 0.5s;
	transition-timing-function: ease, ease;
	
	&:hover
	{
		color: color(la);
		border-color: color(la);
	}
}
