
$article-colors: (
	p:  lfg,
	h:  lh,
	a:  la,
	ac: lac,
);

@mixin ai-article($sel: &, $opts...)
{
	$args: keywords($opts);
	
	$colors: ();
	
	@each $context, $color in $article-colors
	{
		@if map-has-key($args, color-#{$context})
		{
			$colors: map-merge(
				$colors,
				( $context: map-find($args, color-#{$context}) )
			);
		}
		
		@else
		{
			$colors: map-merge(
				$colors,
				( $context: $color )
			);
		}
	}
	
	@extend %ai-post;
	@extend %color-#{map-find($colors, p)};
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6
	{
		@extend %color-#{map-find($colors, h)};
	}
	
	hr
	{
		@extend %color-#{map-find($colors, ac)};
	}
	
	blockquote,
	.wp-caption
	{
		@extend %color-#{map-find($colors, ac)};
		@extend %border-#{map-find($colors, ac)};
	}
	
	span[style*="underline"]
	{
		@extend %border-#{map-find($colors, p)};
	}
	
	@if map-has-key($args, adjust-first)
	{
		// sooo cheaty
		p:first-of-type
		{
			border-top: map-find($args, adjust-first) solid transparent;
		}
	}
	
}
