@mixin ai-navbar($sel: &, $opts...)
{
	$args: keywords($opts);
	
	position: absolute;
	top: 0;
	width: 100%;
	
	body.admin-bar &
	{
		top: 32px;
	}
	
	z-index: 1000;
	font-size: scale(1);
	@extend %font-heading;
	@extend %bg-chrbg;
	@extend %color-chrh;
	
	> .cc
	{
		@extend %row;
	}
	
	#{$sel}-sep
	{
		&:first-child
		{
			@extend %col-pop-12;
			@extend %col-disco-6;
			text-align: center;
			
			@include above(disco)
			{
				@include box;
			}
			
		}
		
		&:last-child:not(:first-child)
		{
			@extend %hide-pop;
			@extend %show-disco;
			@extend %col-disco-6;
			
			@include above(disco)
			{
				@include box(right, $cc: "> .c", $items: "> .menu-item");
			}
			
		}
	}
	
	.menu-item.current-menu-ancestor,
	.menu-item.current-menu-item
	{
		> a
		{
			@include apply(border-top-color, chribg);
		}
	}
	
	a
	{
		display: block;
		padding: 0.4em 0.5em;
		border-top: 0.1em solid transparent;
		border-bottom: 0.1em solid transparent;
		@extend %color-chrh;
		transition-property: color, background, border-color;
		transition-duration: 0.2s, 0.2s, 0.2s;
		transition-timing-function: ease, ease, ease;
	}
	
	.sub-menu
	{
		display: none;
		position: absolute;
		@extend %bg-chrbg;
		
		a
		{
			border-top: 0;
			border-bottom: 0;
			padding: 0.5em 0.5em 0.5em 0.45em;
			
			border-left: 0.2em solid transparent;
		}
		
		> .menu-item.current-menu-item > a
		{
			@extend %border-chribg;
		}
	}
	
	.menu-item:hover
	{
		> a
		{
			@extend %bg-chribg;
			@extend %border-chribg;
			@extend %color-chrifg;
		}
		
		.sub-menu
		{
			display: initial;
		}
	}
	
}
