@mixin ai-plate($sel: &, $opts...)
{
	$args: keywords($opts);
	
	padding: 2rem 0;
	@extend %ai-article;
	background-color: color(dbg);
	
	> .cc
	{
		@extend %row;
	}
	
	.icon
	{
		display: block;
		@extend %col-pop-1;
		
		@if map-has-key($args, icon)
		{
			@extend %genericon-#{map-find($args, icon)};
		}
		
		font-size: 2rem;
		color: color(dh);
		
	}
	
	.meta
	{
		@extend %hide-pop;
		@extend %show-rock;
		@extend %col-rock-4;
		
		@include scale(1);
		@extend %font-heading;
		color: color(dfg);
		
		li a
		{
			color: color(dh);
		}
		
	}
	
	.content
	{
		@extend %col-pop-10;
		@extend %col-rock-6;
		
		@extend %font-lead;
		color: color(dfg);
	}
	
}
