
// SELECTOR: POST
// Provides advanced styling for all the typographic elements
// supported by WordPress's impelmentation of TinyMCE.
//
%ai-post
{
	// Pull in regular article styles
	@extend %ai-article;
	
	p
	{
		@extend %cc-article;
		@include trailer;
		
		&:first-of-type
		{
			@include leader;
		}
		
		a
		{
			@extend a%ai-article;
		}
	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6
	{
		@extend %cc-article;
		@include wrap;
		@extend %font-heading;
	}
	
	h1
	{
		@include scale(3);
	}
	
	h2
	{
		@include scale(2);
	}
	
	h3
	{
		@include scale(1);
	}
	
	strong
	{
		@extend %font-bold;
	}
	
	em
	{
		@extend %font-italic;
	}
	
	// don't do underlines, kids
	span[style*="underline"]
	{
		text-decoration: none !important;
		border-bottom: rem(1px) solid;
	}
	
	ul,
	ol
	{
		@extend %cc-article;
		@include trailer;
		border-left: 2rem solid transparent;
	}
	
	ul
	{
		list-style: circle outside;
	}
	
	ol
	{
		list-style: decimal outside;
	}
	
	blockquote
	{
		@extend %cc-article;
		@extend %font-lead;
		@include spacing($prop: margin);
		border-left: rem(2px) solid;
	}
	
	pre
	{
		@extend %ccw-article;
		padding: 0 1rem;
		@include wrap;
		@include spacing($prop: margin);
		
		background: color(dbg);
		color: color(dfg);
		
		@extend %font-mono;
	}
	
	.wp-caption
	{
		
		&.aligncenter,
		&.alignnone
		{
			@extend %cc-article;
			@include wrap;
		}
		
		@include below(punk)
		{
			&.alignleft,
			&.alignright
			{
				margin: 0 auto;
				@include wrap;
			}
		}
		
		@include above(punk)
		{
			@each $align, $opposite in left right, right left
			{
				&.align#{$align}
				{
					float: $align;
					border-#{$opposite}: rem(2px) solid;
					padding-#{$opposite}: 0.75rem;
					margin-#{$opposite}: 0.75rem;
				}
			}
		}
		
		&-text
		{
			@extend %font-lead;
		}
		
	}
	
	.gallery
	{
		@extend %ccw-article;
		
		html.flexbox &
		{
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: space-around;
			
			@include above(punk)
			{
				flex-direction: row;
			}
		}
		
		&-item
		{
			text-align: center;
			margin: 0.5rem auto;
		}
		
		&-icon
		{
			margin: 0 auto;
		}
		
		html.no-flexbox &
		{
			@extend %cf;
		}
		
		@include above(punk)
		{
			
			html.no-flexbox &-item
			{
				float: left;
			}
			
			@for $i from 1 through 4
			{
				&-columns-#{$i} .gallery-item
				{
					width: 100% / $i;
				}
			}
		}
		
	}
	
}
