#article
{
	@include ai-article(".article", $adjust-first: 0.42rem);
}

#article-footer
{
	@extend %ai-article;
	@extend %bg-lbg;
	
	hr.end
	{
		@extend %ccs-article;
		height: rem(1px);
		border: 0;
		@extend %bg-la;
	}
	
	.profile
	{
		@include ai-profile;
	}
	
	.categories
	{
		@extend %row;
		@extend %ccw-article;
		@include wrap;
		@extend %font-lead;
		text-align: center;
		
		.col
		{
			@include span(1/2);
			
			h6
			{
				@include scale(4);
			}
			
			a
			{
				@extend a%ai-article;
				border: 0 !important;
			}
		}
	}
}
