*,
* > *:before,
* > *:after
{
	box-sizing: border-box;
}

body
{
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: subpixel-antialiased;
		       font-smoothing: subpixel-antialiased;
	
	@extend %font-body;
	
	@extend %bg-lbg;
	@extend %color-lfg;
	
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-image: url(../images/robot.jpg);
	
}

a
{
	text-decoration: none;
	@extend %color-da;
}

.cc
{
	width: $val-cc-width;
	max-width: em($val-cc-max-width);
	margin: 0 auto;
}

a.cc
{
	display: block;
}

img
{
	max-width: 100%;
	height: auto !important; // jic
}

.video.w {
	height: 0;
	padding-top: rem(25px);
	margin-bottom: rem(16px);
	padding-bottom: 56.25%; // 16:9
	position: relative;
}
.video.w iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0; left: 0; right: 0; bottom: 0;
}
