*,
* > *:before,
* > *:after
{
	box-sizing: border-box;
}

body
{
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: subpixel-antialiased;
		       font-smoothing: subpixel-antialiased;
	
	@extend %font-body;
	
	@include apply(background, lbg);
	@include apply(color, lfg);
	
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	
	&.front-page,
	&.has-post-thumbnail
	{
		background-image: url(../images/robot.jpg);
	}
	
}

a
{
	text-decoration: none;
	@include apply(color, da);
}

.cc
{
	width: $val-cc-width;
	max-width: em($val-cc-max-width);
	margin: 0 auto;
}
