
#comments
{
	@extend %bg-dbg;
	@extend %color-dfg;
	padding: 1em 0;
	
	> .ccc
	{
		padding: 1em;
		@extend %row;
	}
	
	.comments-old.w
	{
		@include span(3/5);
	}
	
	.comments-new.w
	{
		@include span(2/5);
	}
	
	h1
	{
		margin: 0.5em auto;
		font-size: scale(3);
		max-width:600px;
		@extend %font-title;
		text-align: center;
		@extend %color-dh;
	}
	
	.comment
	{
		
		&-header
		{
			@extend %row;
			font-size: scale();
			@extend %font-heading;
			
			.date
			{
				padding: 0.5em 0.2em;
			}
			
			> .left
			{
				@include span(3/4);
				@include box($cc: "> .c");
			}
			
			> .right
			{
				@include span(1/4);
				@include box(right, $cc: "> .c");
			}
			
			> .left,
			> .right
			{
				
				a
				{
					display: block;
					padding: 0.5em 0.2em;
					@extend %color-dh;
					transition-property: background, color;
					transition-duration: 0.1s, 0.1s;
					transition-timing-function: ease, ease;
					
					&:hover
					{
						@extend %bg-dh;
						@extend %color-dbg;
					}
				}
			}
			
		}
		
		&-body
		{
			@extend %ai-article;
			padding: 0.5em;
			@extend %font-lead;
		}
		
	}
}
