body
{
	@extend %font-body;
	@include apply(background, lbg);
	@include apply(color, lfg);
}

a
{
	text-decoration: none;
	@include apply(color, da);
}

.cc
{
	width: $val-cc-width;
	max-width: $val-cc-max-width;
	margin: 0 auto;
}

#header
{
	z-index: 1000;
	@include apply(background, chrbg);
	
	body.has-post-thumbnail &
	{
		position: absolute;
		top: 0;
		width: 100%;
	}
	
	> .cc
	{
		display: flex;
	}
	
	#nav
	{
		margin-left: auto;
	}
	
	li
	{
		display:inline-block;
		font-size: scale(1);
		@extend %font-title;
		
		a
		{
			display: block;
			padding: 0.3em;
		}
		
		&.number a
		{
			@include apply(color, chrifg);
			@include apply(background, chribg);
		}
		
		&.menu-item a,
		&.name a
		{
			@include apply(color, chrfg);
		}
		
		&.menu-item a:hover
		{
			@include apply(background, chribg);
			@include apply(color, chrifg);
		}
		
	}
}

#thumbnail
{
	height:100vh;
	width:100vw;
	margin-bottom:1.8rem;
	position:relative;
	background: url(../images/robot.jpg);
	background-size: cover;
	background-position: center;
	
	> .c
	{
		position:absolute;
		bottom: 0;
		width: 100%;
		padding:2em 0;
		@include apply(background, chrbg);
		@include apply(color, dfg);
		
		h1
		{
			@extend %font-title;
			margin-bottom:0.5em;
			font-size: scale(3);
			@include apply(color, chrfg);
		}
		
		p
		{
			@extend %font-lead;
			max-width:30em;
			line-height: 1.333;
		}
		
		.meta
		{
			display: flex;
			justify-content: flex-end;
			font-size: scale();
			@extend %font-heading;
			
			a
			{
				margin: 0 0.5em;
				@include apply(color, chrfg);
			}
		}
	}
}

#article
{
	@extend %ai-article;
	padding-bottom: 1em;
	
	p
	{
		margin:0 auto;
		max-width:600px;
		@include spacing;
		
		&:first-of-type
		{
			padding-top:0.42rem;
		}
	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6
	{
		@extend %font-heading;
		max-width: 600px;
		@include spacing;
		@include spacing(top);
	}
	
	h1
	{
		margin: 0 auto;
		@include scale(3);
	}
	
	h2
	{
		margin: 0 auto;
		@include scale(2);
	}
	
	h3
	{
		margin: 0 auto;
		@include scale(1);
	}
	
	a
	{
		@include apply(color, lfg);
		@include apply_(border-bottom, "1px solid *lfg", lfg);
		transition-property: border-color, color;
		transition-duration: 0.5s, 0.5s;
		transition-timing-function: ease, ease;
		
		&:hover
		{
			@include apply(color, la);
			@include apply(border-color, la);
		}
	}
	
}

#comments
{
	padding: 1em;
	@include apply(background, dbg);
	@include apply(color, dfg);
	
	h1
	{
		margin: 0.5em auto;
		font-size: 3em;
		max-width:600px;
		@extend %font-title;
		text-align: center;
		@include apply(color, dh);
	}
	
	.comment
	{
		margin: 0 auto;
		max-width: 600px;
		
		&-body
		{
			@extend %font-lead;
			padding: 0.5em;
		}
		
	}
}
