body
{
	@extend %font-body;
	background: $gallery;
	color: $mineshaft;
}

a
{
	text-decoration: none;
	color: $dodger;
}

.cc
{
	width: $val-cc-width;
	max-width: $val-cc-max-width;
	margin: 0 auto;
}

#header
{
	z-index: 1000;
	background: transparentize($mineshaft, 0.4);
	
	body.has-post-thumbnail &
	{
		position: absolute;
		top: 0;
		width: 100%;
	}
	
	> .cc
	{
		display: flex;
	}
	
	#nav
	{
		margin-left: auto;
	}
	
	li
	{
		display:inline-block;
		font-size: scale(1);
		@extend %font-title;
		
		a
		{
			display: block;
			padding: 0.3em;
		}
		
		&.number a
		{
			background: $lightning;
			color: $mineshaft;
		}
		
		&.menu-item a,
		&.name a
		{
			color: $lightning;
		}
		
		&.menu-item a:hover
		{
			background: $lightning;
			color: $mineshaft;
		}
		
	}
}

#thumbnail
{
	height:100vh;
	width:100vw;
	margin-bottom:1.8rem;
	position:relative;
	background: url(../images/robot.jpg);
	background-size: cover;
	background-position: center;
	
	> .c
	{
		position:absolute;
		bottom: 0;
		width: 100%;
		padding:2em 0;
		background: transparentize($mineshaft, 0.4);
		color: $gallery;
		
		h1
		{
			@extend %font-title;
			margin-bottom:0.5em;
			font-size: scale(3);
			color: $lightning;
		}
		
		p
		{
			@extend %font-lead;
			max-width:30em;
			line-height: 1.333;
		}
		
		.meta
		{
			display: flex;
			justify-content: flex-end;
			font-size: scale(-1);
			@extend %font-heading;
			color: $gallery;
			
			a
			{
				margin: 0 0.5em;
				color: $lightning;
			}
		}
	}
}

#article
{
	@extend %ai-article;
	padding-bottom: 1em;
	
	p
	{
		margin:0 auto;
		max-width:600px;
		@include spacing;
		
		&:first-of-type
		{
			padding-top:0.42rem;
		}
	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6
	{
		@extend %font-heading;
		max-width: 600px;
		@include spacing;
		@include spacing(top);
	}
	
	h1
	{
		margin: 0 auto;
		@include scale(3);
	}
	
	h2
	{
		margin: 0 auto;
		@include scale(2);
	}
	
	h3
	{
		margin: 0 auto;
		@include scale(1);
	}
	
	a
	{
		color: $mineshaft;
		border-bottom: 1px solid $mineshaft;
		transition-property: border-color, color;
		transition-duration: 0.5s, 0.5s;
		transition-timing-function: ease, ease;
		
		&:hover
		{
			border-color: lighten($mineshaft, 50%);
			color: lighten($mineshaft, 50%);
		}
	}
	
}

#comments
{
	padding: 1em;
	background: $mineshaft;
	color: $gallery;
	
	h1
	{
		margin: 0.5em auto;
		font-size: 3em;
		max-width:600px;
		@extend %font-title;
		text-align: center;
		color: $lightning;
	}
	
	.comment
	{
		margin: 0 auto;
		max-width: 600px;
		
		&-header,
		&-actions
		{
			background: lighten($mineshaft, 10%);
		}
		
		&-body
		{
			@extend %font-lead;
			padding: 0.5em;
			line-height: 1.333;
		}
		
	}
}
