# Miscellaneous
.DS_Store
Thumbs.db
.idea/

# Assets
*.src.coffee
.sass-cache
*.map

streams/streams.js
streams/partials/*.html

# Node
node_modules

# Vagrant
.vagrant

# Builds
vendor
bower_components
frontend/gen/*.js
frontend/gen/*.css
forums/gen/*.css
forums/gen/*.js
editor/gen/*.css
editor/gen/*.js
