# Miscellaneous
.DS_Store
Thumbs.db
.idea/

# Theme
vendor/
composer.lock

# Assets
*.map
css/**/*.css
js/**/*.js
!js/streams/**/*.js
.sass-cache

# Node
node_modules

# Bower
bower_components

# Vagrant
.vagrant

# AI themes
scss/themes/*.scss
!scss/themes/_lightning.scss
