# Miscellaneous
.DS_Store
Thumbs.db
.idea/

# Theme
vendor/

# Assets
*.src.coffee
.sass-cache
*.map

/frontend/gen/*.css
/frontend/gen/*.js

streams/streams.js
streams/partials/*.html

# Node
node_modules

# Bower
bower_components

# Vagrant
.vagrant

# AI Skins
# /scss/skins/*.scss
# !/scss/skins/lightning.scss
