
header.jumbotron
	.container
		h1
			| {{post.title}}
			small by {{post.author.name}}
			
main.container
	.row
		
		main.col-xs-12.col-md-8
			
			article.post-content(
				ng-bind-html="post.content"
				ng-show="state === 'read'"
			)
			
			.form-group(ng-show="state === 'write'")
				textarea.form-control(
					style="min-height:40em;"
					ng-model="post.content"
				)
			
		aside.hide-xs-only.col-md-4
			h3 Actions
			
			.btn-group.btn-group-lg(ng-show="state === 'read'")
				button.btn.btn-default(ng-click="edit()") Edit
				a.btn.btn-danger(ng-click="delete", href="#/") Delete
			
			.btn-group.btn-group-lg(ng-show="state === 'write'")
				button.btn.btn-default(ng-click="cancel()") Cancel
				button.btn.btn-primary(ng-click="save()") Save
