
// CONSTANT: FONTS IMPORT
// A list of fonts to import.
//
$fonts-import: ();

// Build $fonts-import
//
@each $theme, $settings in $themes
{
	@each $font, $weights in map-find($settings, fonts-import)
	{
		@if map-has-key($fonts-import, $font)
		{
			@each $weight in $weights
			{
				@if not nth( map-find($fonts-import, $font), $weight )
				{
					$old-weights: map-find($fonts-import, $font);
					$fonts-import: map-remove($fonts-import, $font);
					$fonts-import: map-merge($fonts-import, (
						$font: append($old-weights, $weight)
					));
				}
			}
		}
		
		@else
		{
			$fonts-import: map-merge($fonts-import, ($font: $weights));
		}
	}
}

// Import variable
//
$url: "http://fonts.googleapis.com/css?family=";

@each $font, $styles in $fonts-import
{
	// Replace spaces with plus signs in font names
	$font: str-replace($font, ' ', '+');
	
	// Append it
	$url: $url + $font + ':';
	
	@each $style in $styles
	{
		$url: $url + $style;
		
		@if last($styles) != $style
		{
			$url: $url + ',';
		}
	}
	
	@if $font != last(map-keys($fonts-import))
	{
		$url: $url + '|';
	}
	
}

@import url($url);

// @import url(http://fonts.googleapis.com/css?family=Open+Sans);
