
// SELECTOR: ARCHIVE HEADER
// Appears on archive pages, search results, etc.
// displaying the cat or search term.
//
#header-archive
{
	padding: 7rem 0;
	
	@extend %ai-article;
	background-color: color(dbg);
	color: color(dh);
	
	h1
	{
		@extend %cc-article;
		@include scale(3);
		@extend %font-heading;
	}
	
	h2
	{
		@extend %cc-article;
		@include scale(2);
		@extend %font-heading;
	}
	
	p
	{
		@extend %cc-article;
		@extend %font-lead;
		color: color(dfg);
	}
	
}
