
// SELECTOR: STANDARD
// Primary page, with a full-screen thumbnail at the top.
//
.single-format-standard #article,
.page-template-default #article
{
	background-color: color(lbg);
	
	// Actual article
	.article.c
	{
		@include ai-article(".article", $adjust-first: 0.42rem);
	}
}

// SELECTOR: PHOTO BACKGROUND
// Uses post thumbnail as background image.
//
.page-template-photobg-page-php,
.page-template-searchpage-php,
.single-format-aside,
.single-format-status,
.single-format-quote
{
	#article
	{
		min-height: 100vh;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		
		> .c
		{
			min-height: 100vh;
			background-color: color(chrbg);
		}
	}
	
	// Actual article
	.article.c
	{
		padding: 10rem 0;
		@include above(punk)
		{
			padding: 7rem 0;
		}
		
		@include ai-article(".article",
												$color-p: chrfg,
												$color-h: chrh,
												$color-ac: chrac);
		
	}
}

// SELECTOR: DARK BACKGROUND
// Page with dark background.
//
.page-template-darkbg-page-php,
.single-format-image,
.single-format-video,
.single-format-link,
.error404
{
	#article
	{
		min-height: 100vh;
		
		> .c
		{
			min-height: 100vh;
			background-color: color(dbg);
		}
	}
	
	// Actual article
	.article.c
	{
		padding: 10rem 0;
		@include above(punk)
		{
			padding: 7rem 0;
		}
		
		@include ai-article(".article",
		                    $color-p: dfg,
		                    $color-h: dh,
		                    $color-ac: dac);
		
	}
	
}

// First element on video posts is likely to be video,
// so give it a video wrapper.
//
.single-format-video .article.c p:first-of-type
{
	@extend .video.w;
}

// On search pages, style search form.
//
.body-search-input
{
	display: block;
	@extend #nav-search-input;
	@extend %cc-article;
}

// SELECTOR: ARTICLE FOOTER
// Appears at the bottom of posts,
// giving author bio and associated categories and tags.
//
#article-footer
{
	@extend %ai-article;
	background-color: color(lbg);
	
	hr.end
	{
		@extend %ccs-article;
		height: rem(1px);
		border: 0;
		background-color: color(la);
	}
	
	.profile
	{
		@include ai-profile;
	}
	
	.categories
	{
		@extend %ccw-article;
		@include wrap;
		@extend %font-lead;
		text-align: center;
		@extend %row;
			
		.col
		{
			@extend %col-pop-6;
		}
		
		h6
		{
			@include scale(4);
		}
		
		a
		{
			@extend a%ai-article;
			border: 0 !important;
		}
			
	}
	
}

#post-nav
{
	@extend %cf;
	background: color(dbg);
	
	.post-next,
	.post-prev
	{
		display: block;
		float: left;
		@extend %hide-pop;
		@extend %show-disco;
		
		border: 0 !important;
		width: 50%;
		
		background-size: cover;
		background-position: center;
		
		@extend %ai-article;
		
		> .c
		{
			min-height: 20rem;
			padding: 3rem;
			transition: background, 0.5s, ease;
			
			background: color(chrbg);
		}
		
		&:hover
		{
			
			> .c
			{
				background: color(chra);
			}
		}
		
		h4
		{
			@extend %font-heading;
			@include scale(3);
			@include trailer;
			color: color(chrh);
		}
		
		.icon
		{
			@include scale(8);
			color: color(dh);
		}
		
	}
	
	.post-prev
	{
		text-align: right;
	}
	
}
