
#header
{
	@include ai-navbar(".header", $custom-layout: true);
	
	.number a
	{
		background-color: color(chribg);
		color: color(chrifg);
	}
	
	@include below(disco)
	{
		.number
		{
			margin-left: auto;
		}
	}
	
	.header-sep
	{
		&:first-child
		{
			@extend %col-pop-12;
			@extend %col-disco-6;
			text-align: center;
			
			@include above(disco)
			{
				@include box;
			}
			
		}
		
		&:last-child:not(:first-child)
		{
			@extend %hide-pop;
			@extend %show-disco;
			@extend %col-disco-6;
			
			@include above(disco)
			{
				@include box(right, $cc: "> .c", $items: "> .menu-item");
			}
			
		}
	}
	
}

#nav-search
{
	display: none;
	
	&-input
	{
		-webkit-appearance: none;
		   -moz-appearance: none;
			  -ms-appearance: none;
		        appearance: none;
		
		border: 0;
		padding: 0.45em;
		width: 100%;
		font-size: scale(1);
		
		@extend %font-heading;
		background-color: color(chribg);
		color: color(chrifg);
	}
}

#nav-offcanvas-left,
#nav-offcanvas-right
{
	position: fixed;
	top: 0;
	width: rem(300px);
	max-width: 100%;
	height: 100%;
	background-color: color(dbg);
	
	> .c
	{
		position: sticky;
		top: 0;
		width: 100%;
	}
}

@each $side in left, right
{
	#nav-offcanvas-#{$side}
	{
		#{$side}: rem(-300px);
		text-align: $side;
	}
	
	#www.offcanvas-#{$side}
	{
		transform: translateX(rem(300px * if($side == left, 1, -1)));
	}
	
}

@include above(disco)
{
	.nav-mobile-toggle
	{
		display: none;
	}
}
