
// SELECTOR: THUMBNAIL
// TODO: Pull into article styles; it's not used anywhere else.
//
#thumbnail
{
	@include ai-block;
	
	.meta
	{
		display: flex;
		justify-content: flex-end;
		@include scale(-1);
		@extend %font-heading;
		
		li
		{
			margin: 0 0.5em;
		}
		
		a
		{
			color: color(chrh);
		}
	}
}
