// THEME REGISTRY
// Register your theme by adding its slug to this list.
//
$themes: (lightning);

// VALUES
// Set breakpoints, base font size, multipliers, line height,
// and other display variables.
//
$val-font-size: 20px;      // base font size
$val-line-height: 30px;    // total line height, including the font size
$val-multiplier: 1.25;     // multiplier

$val-cc-width: 95%;        // percentage width of main container
$val-cc-max-width: 1250px; // maximum width of main container

$val-cc-article: 600px;    // maximum width of article container

// breakpoints
$val-breaks: (
	pop:   1px,     // smartphones
	rock:  768px,   // tablets
	punk:  992px,   // small desktops/laptops
	disco: 1200px,  // large desktops/laptops
);

$val-rhythm-debug: false;  // debug vertical rhythm like a boss

// SET COLORS
// Set color variables for base colors.
// Keep in mind that these should be good color names.
// http://chir.ag/projects/name-that-color/
//
$lightning: #fd0;
$mineshaft: #222;
$gallery: #eee;
$dodger: #5291ff;

// BASE COLORS
// Set base colors. Use the color variables set above.
// In your actual styles, use these map keys instead of the variable names.
//
$colors: (
	lightning : (
		lfg:    $mineshaft,                        // light foreground
		lbg:    $gallery,                          // light background
		la:     lighten($mineshaft, 40%),          // light links (anchors)
		dfg:    $gallery,                          // dark foreground
		dbg:    $mineshaft,                        // dark background
		da:     $dodger,                           // dark links (anchors)
		dh:     $lightning,                        // dark headings
		chrfg:  $lightning,                        // chrome foreground
		chrbg:  transparentize($mineshaft, 0.4),   // chrome background
		chrac:  lighten($mineshaft, 40%),          // chrome accent
		chrifg: $mineshaft,                        // chrome inverted foreground
		chribg: $lightning,                        // chrome inverted background
	)
);

// SET FONTS
// Set font stacks.
// Use the name of the first font as the variable name.
//
$fhelvetica:              'Helvetica Neue', Helvetica, Arial, sans-serif;
$fopensans:  'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$flato:      'Lato',      'Helvetica Neue', Helvetica, Arial, sans-serif;
$fraleway:   'Raleway',   'Helvetica Neue', Helvetica, Arial, sans-serif;

// BASE FONTS
// Set base fonts. Use the font variables set above.
// In your actual styles, extend these selectors without the theme name
// (i.e., @extend %font-title) to pull in the font styling.
//
%lightning-font-title
{
	font-family: $fraleway;
	font-weight: 200;
	text-transform: uppercase;
}

%lightning-font-heading
{
	font-family: $fraleway;
	font-weight: 300;
	text-transform: uppercase;
}

%lightning-font-lead
{
	font-family: $fraleway;
	font-weight: 300;
}

%lightning-font-body,
%lightning-font-main
{
	font-family: $flato;
	// font-weight: 300;
}

// IMPORT FONTS
// If you need to, import fonts from Google Fonts.
// Give the font's name and what styles you need.
//
$fonts-import: (
	'Raleway': "200" "300",
	'Lato': "400" "400italic" "700" "700italic",
);

// That's all!
// These variables will be used to configure AI themes. It's hard to get
// PHP and Sass working together, and this is the best we can do.
//
