<main class="container">
	<div class="row">
		
		<main class="col-xs-12 col-md-8">
			
			<section class="post-new panel panel-success" ng-show="!query && togNew">
				
				<div class="panel-heading">
					<div class="panel-title">Create Post</div>
				</div>
				
				<div class="panel-body">
					
					<div class="form-group">
						<label for="_new-title">Title</label>
						<input type="text" id="_new-title" class="input-lg form-control"
						ng-model="postNew.title" />
					</div>
					
					<div class="form-group">
						<label for="_new-content">Content</label>
						<textarea type="text" class="form-control" id="_new-content"
						style="min-height:20em;" ng-model="postNew.content_raw"></textarea>
					</div>
					
					<div class="form-group">
						<label for="_new-cat-select">Category</label>
						<select ng-model="catCurrent" class="form-control">
							<option ng-repeat="cat in cats" value="{{cat.ID}}">
								{{cat.name}}
							</option>
						</select>
					</div>
					
					<div class="btn-group btn-group-lg pull-right">
						<button class="btn btn-default" ng-click="togNew = !togNew">Cancel</button>
						<button class="btn btn-success" ng-click="save(catCurrent)">Save</button>
					</div>
					
				</div>
				
			</section>
			
			<section class="post" ng-repeat="post in posts | filter:query | orderBy:sort:sortRev">
				<div class="page-header">
					<h2><a href="#/posts/{{post.ID}}">{{post.title}}</a> <small>by {{post.author.name}}</small></h2>
				</div>
				<article class="post-content" ng-bind-html="post.content"></article>
				<div class="btn-group">
					<a class="btn btn-primary" href="#/posts/{{post.ID}}">Read all</a>
				</div>
				<ul>
					<li ng-repeat="cat in post.terms.stream_cats">
						<a href="#/category/{{cat.ID - 2}}">{{cat.name}}</a>
					</li>
				</ul>
			</section>
		</main>
		
		<aside class="hide-xs col-md-4">
			
			<div class="btn-group" ng-hide="togNew">
				<button class="btn btn-success" ng-click="togNew = !togNew">New Post</button>
			</div>
			
			<div class="btn-group" ng-show="togNew">
				<button class="btn btn-default" ng-click="togNew = !togNew">Cancel</button>
			</div>
			
			<hr>
			
			<div class="form-group">
				<label for="_search">Search</label>
				<input type="text" id="_search" class="form-control"
				ng-model="query" placeholder="Search..." autofocus />
			</div>
			<div class="form-group">
				<label for="_sort">Sort by</label>
				<select id="_sort" ng-model="sort" class="form-control">
					<option value="date">Date Created</option>
					<option value="modified">Last Modified</option>
					<option value="title">Title</option>
				</select>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="sortRev" ng-click="temp()" />
					Reverse order?
				</label>
			</div>
			
			<hr>
			
			<div id="sidebar" ng-bind-html="sidebar"></div>
			
		</aside>
		
	</div>
</main>
