
// DEBUG RHYTHM
// If debugging turned on, import a background image to help debug rhythm.
//
@if $config-rhythm-debug
{
	%ai-article
	{
		background-image: url(http://basehold.it/i/#{$config-line-height / 1px}) !important;
	}
}

// MIXIN: SCALE
// Applies the scale() function with the passed exponent,
// then adjusts the line-height to maintain vertical rhythm.
//
@mixin scale($exp: 0)
{
	font-size: scale($exp);
	$size: scale($exp, "px");
	line-height: $config-line-height * ceil($size / $config-line-height) / $size;
}

// MIXIN: SPACING
// Adds spacing above or below parent element.
//
@mixin spacing($pos: bottom, $prop: padding)
{
	#{$prop}-#{$pos}: rem($config-line-height);
}

// MIXIN: LEADER
// Alias for spacing(top).
//
@mixin leader
{
	@include spacing(top);
}

// MIXIN: TRAILER
// Alias for spacing, without any arguments.
//
@mixin trailer
{
	@include spacing;
}

// MIXIN: WRAP
// Alias for leader and trailer together.
//
@mixin wrap
{
	@include spacing(top);
	@include spacing;
}

// CONSTANT: LINE-HEIGHT
// The actual unitless line-height value that is applied to elements.
//
$line-height: $config-line-height / $config-font-size;

// Set root font-size so rems work
:root
{
	font-size: em($config-font-size, 16px);
}

%ai-article
{
	line-height: $line-height;
}
