
// FUNCTION: SCALE
// Find the font size at a specific exponent up the provided scale.
//
@function scale($exp: 0, $unit: "rem")
{
	@if $unit == "rem"
	{
		@return rem($config-font-size * raise($config-multiplier, $exp));
	}
	@elseif $unit == "px"
	{
		@return $config-font-size * raise($config-multiplier, $exp);
	}
}

// CONSTANT: ARTICLE-CONTAINER
// The maximum width of the article container.
//
$config-cc-article: rem($config-cc-article);

// SELECTOR: ARTICLE-CONTAINER
// Wraps the above variable in a selector.
//
%ai-article-cc
{
	margin: 0 auto;
	max-width: $config-cc-article;
}

// CONSTANT: ARTICLE-CONTAINER-WIDE
// The maximum width of the article footer container.
//
$config-cc-article-w: $config-cc-article * (4/3);

// SELECTOR: ARTICLE-CONTAINER
// Wraps the above variable in a selector.
//
%ai-article-cc-w
{
	margin: 0 auto;
	max-width: $config-cc-article-w;
}

// CONSTANT: ARTICLE-CONTAINER-WIDE
// The maximum width of the article footer container.
//
$config-cc-article-s: $config-cc-article * (5/6);

// SELECTOR: ARTICLE-CONTAINER
// Wraps the above variable in a selector.
//
%ai-article-cc-s
{
	margin: 0 auto;
	max-width: $config-cc-article-s;
}
