
// SET COLORS
// Set color variables for base colors.
// Keep in mind that these should be good color names.
// http://chir.ag/projects/name-that-color/
//
// $lightning: #fd0;
$mineshaft: #222;
$gallery: #eee;

// BASE COLORS
// Set base colors. Use the color variables set above.
// Find documentation in app/assets/scss/framework/themes/_colors.scss
//
$colors: (
	lfg:    $mineshaft,
	lbg:    $gallery,
	la:     lighten($mineshaft, 40%),
	lh:     lighten($mineshaft, 20%),
	lac:    lighten($mineshaft, 40%),

	dfg:    darken($gallery, 15%),
	dbg:    $mineshaft,
	da:     $gallery,
	dh:     $gallery,
	dac:    darken($gallery, 40%),

	chrfg:  darken($gallery, 15%),
	chrbg:  transparentize($mineshaft, 0.4),
	chra:   transparentize($mineshaft, 0.2),
	chrh:   $gallery,
	chrac:  lighten($mineshaft, 40%),

	chrifg: $mineshaft,
	chribg: $gallery,
);

// SET FONTS
// Set font stacks.
// Use the name of the first font as the variable name.
//
$fhelvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// FONTS
// Set base fonts. Use the font variables set above.
// These maps will be converted to %selectors that you can @extend.
// (e.g., @extend %font-title)
//
$fonts: (
	title: (
		font-family: $fhelvetica,
		font-weight: 200,
	),
	heading: (
		font-family: $fhelvetica,
		font-weight: 200,
	),
	lead: (
		font-family: $fhelvetica,
		font-weight: 200,
	),
	body: (
		font-family: $fhelvetica,
		font-weight: 300,
	),
	main: (
		font-family: $fhelvetica,
		font-weight: 300,
	),
	bold: (
		font-weight: 500,
	),
	italic: (
		font-style: italic,
	),
);

// FONTS-IMPORT
// If you need to, import fonts from Google Fonts.
// Give the font's name and what styles you need.
//
$fonts-import: ();

// EXPORT
//
@import "bootstrap";
@import "export";
