@mixin ai-comments($sel: &, $opts...)
{
	$args: keywords($opts);
	
	// SELECTOR: COMMENTS
	//
	&
	{
		background-color: color(dbg);
		color: color(dfg);
		padding: 1em 0;
		
		> .cc
		{
			@extend %row;
			padding: 1em;
			
			.comments-old.w
			{
				@extend %col-pop-12;
				@extend %col-disco-7;
			}
			
			.comments-new.w
			{
				@extend %col-pop-12;
				@extend %col-disco-5;
			}
			
		}
		
		h3
		{
			max-width: rem(600px);
			margin: 0.5em auto;
			font-size: scale(3);
			@extend %font-title;
			text-align: center;
			color: color(dh);
		}
		
		p
		{
			@include vpadding-bottom;
		}
		
	}
	
	// SELECTOR: COMMENT
	// Man, comments take a lot of styles for such a small component.
	//
	#{map-find($args, sel-comment)}
	{
		
		@include vpadding-top;
		
		&-header
		{
			font-size: scale();
			@extend %font-heading;
			@extend %cf;
			
			> .left,
			> .right
			{
				
				a
				{
					display: block;
					padding: 0.5em 0.2em;
					color: color(dh);
					transition-property: background, color;
					transition-duration: 0.1s, 0.1s;
					transition-timing-function: ease, ease;
					
					&:hover
					{
						background-color: color(dh);
						color: color(dbg);
					}
				}
			}
			
			> .left
			{
				float: left;
				@include box($cc: "> .c");
			}
			
			> .right
			{
				float: right;
				@include box(right, $cc: "> .c");
			}
			
			.date
			{
				padding: 0.5em 0.2em;
			}
			
		}
		
		&-body
		{
			@extend %ai-rhythm;
			padding: 0.5em 0;
			@extend %font-lead;
		}
		
		&-replies
		{
			padding-left: 3.5%;
			margin-left: 1.5%;
			border-left: 1px solid color(dac);
		}
		
	}
	
}
