
// SELECTOR: POST
// Provides advanced styling for all the typographic elements
// supported by WordPress's impelmentation of TinyMCE.
//
%ai-post
{
	// Pull in regular article styles
	@extend %ai-article;
	
	p
	{
		@extend %cc-article;
		@include vpadding-bottom;
		
		&:first-child
		{
			@include vpadding-top;
		}
	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6
	{
		@extend %cc-article;
		@include vpadding;
		@extend %font-heading;
	}
	
	h1
	{
		@include scale(3);
	}
	
	h2
	{
		@include scale(2);
	}
	
	h3
	{
		@include scale(1);
	}
	
	strong
	{
		@extend %font-bold;
	}
	
	em
	{
		@extend %font-italic;
	}
	
	// don't do underlines, kids
	span[style*="underline"]
	{
		text-decoration: none !important;
		border-bottom: rem(1px) solid;
	}
	
	ul,
	ol
	{
		@extend %cc-article;
		@include vpadding-bottom;
		border-left: 2rem solid transparent;
	}
	
	ul
	{
		list-style: circle outside;
	}
	
	ol
	{
		list-style: decimal outside;
	}
	
	blockquote
	{
		@extend %cc-article;
		@extend %font-lead;
		@include vpadding-bottom;
		border-left: rem(2px) solid;
	}
	
	a,
	ins
	{
		@extend a%ai-article;
	}
	
	pre
	{
		@extend %ccw-article;
		padding: 0 1rem;
		@include vpadding-bottom;
		@include trailer;
		overflow-x: scroll;
		
		background: color(dbg);
		color: color(dfg);
		
		@extend %font-mono;
	}
	
	dl
	{
		@extend %cc-article;
		
		dt
		{
			@extend strong;
		}
		
		dd
		{
			@include vpadding-bottom;
		}
		
	}
	
	abbr,
	acronym
	{
		border-bottom: dotted 1px color(lfg);
	}
	
	big
	{
		font-size: scale(1);
	}
	
	del,
	strike
	{
		text-decoration: line-through;
	}
	
	kbd,
	code,
	tt,
	var
	{
		@extend %font-mono;
	}
	
	sub
	{
		position: relative;
		top: 0.3em;
		font-size: 0.8em;
	}
	
	sup
	{
		position: relative;
		bottom: 0.5em;
		font-size: 0.8em;
	}
	
	address
	{
		@extend %cc-article;
		@include scale(-1);
	}
	
	table
	{
		@extend %ccw-article;
		
		tr
		{
			border-bottom: 1px solid;
		}
		
		thead tr
		{
			border-bottom: 2px solid;
		}
		
		th
		{
			@extend %font-bold;
		}
		
		td,
		th
		{
			text-align: left;
			padding: 0 0.25rem;
			@include vpadding;
		}
		
	}
	
	.wp-caption
	{
		
		&.aligncenter,
		&.alignnone
		{
			@extend %cc-article;
			@include wrap;
		}
		
		@include below(punk)
		{
			&.alignleft,
			&.alignright
			{
				margin: 0 auto;
				@include wrap;
			}
		}
		
		@include above(punk)
		{
			@each $align, $opposite in left right, right left
			{
				&.align#{$align}
				{
					float: $align;
					border-#{$opposite}: rem(2px) solid;
					padding-#{$opposite}: 0.75rem;
					margin-#{$opposite}: 0.75rem;
				}
			}
		}
		
		&-text
		{
			@extend %font-lead;
		}
		
	}
	
	.gallery
	{
		@extend %ccw-article;
		
		html.flexbox &
		{
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: space-around;
			
			@include above(punk)
			{
				flex-direction: row;
			}
		}
		
		&-item
		{
			text-align: center;
			margin: 0.5rem auto;
		}
		
		&-icon
		{
			margin: 0 auto;
		}
		
		html.no-flexbox &
		{
			@extend %cf;
		}
		
		@include above(punk)
		{
			
			html.no-flexbox &-item
			{
				float: left;
			}
			
			@for $i from 1 through 4
			{
				&-columns-#{$i} .gallery-item
				{
					width: 100% / $i;
				}
			}
		}
		
	}
	
}
