a%ai-article
{
	@include apply_(border-bottom, "1px solid *lfg", lfg);
	@include apply(color, lfg);
	transition-property: border-color, color;
	transition-duration: 0.5s, 0.5s;
	transition-timing-function: ease, ease;
	
	&:hover
	{
		@include apply(color, la);
		@include apply(border-color, la);
	}
}
