@mixin ai-navbar($sel: &, $opts...)
{
	$args: keywords($opts);
	
	z-index: 1000;
	font-size: scale(1);
	@extend %font-heading;
	@include apply(color, chrfg);
	@include apply(background, chrbg);
	
	body.has-post-thumbnail &,
	body.front-page &
	{
		position: absolute;
		top: 0;
		width: 100%;
	}
	
	> .cc
	{
		@extend %row;
	}
	
	#{$sel}-sep
	{
		&:first-of-type
		{
			@include box;
		}
		
		&:last-of-type
		{
			@include box(right, $cc: "> .c", $items: "> .menu-item");
		}
	}
	
	a
	{
		display: block;
		padding: 0.5em;
		@include apply(color, chrfg);
		transition-property: color, background;
		transition-duration: 0.2s, 0.2s;
		transition-timing-function: ease, ease;
	}
	
	.menu-item a:hover
	{
		@include apply(background, chribg);
		@include apply(color, chrifg);
	}
	
}
