@mixin ai-plate($sel: &, $opts...)
{
	$args: keywords($opts);
	
	padding: 2rem 0;
	@extend %ai-article;
	@extend %bg-dbg;
	
	.icon
	{
		@if map-has-key($args, icon)
		{
			@extend %genericon-#{map-find($args, icon)};
		}
		
		font-size: 2rem;
		@include span(1);
		@extend %color-dh;
		
	}
	
	.meta
	{
		@include span(4);
		@include scale(1);
		@extend %font-heading;
		@extend %color-dfg;
		
		li a
		{
			@extend %color-dh;
		}
		
	}
	
	.content
	{
		@include span(6 last);
		@extend %font-lead;
		@extend %color-dfg;
	}
	
}
